.html-container {
    background: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

.box-container {
    display: flex;
    flex-direction: column;
}

.constructor {
    width: 400px;
    height: 500px;
    border: 3px solid black;
}

.result {
    width: 400px;
    height: 500px;
    border: 3px solid black;
}

.selector-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 4px;
}

.create-button {
    color: white;
    background-color: rgb(3, 75, 3);
    height: 26px;
    border-radius: 5px;

}

.div-element {
    width: 350px;
    height: auto;
    border: 3px solid black;
    margin: 5px;
    flex-shrink: 1; 
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.h1-element {
    width: 350px;
    height: auto;
    margin: 5px;
    flex-shrink: 1; 
    display: flex;
    flex-direction: column;
    gap: 1px;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.input-element {
    width: 350px;
    height: auto;
    border: 3px solid black;
    margin: 5px;
    flex-shrink: 1; 
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.selected {
    border: 2px dashed red;
}